/* @import 'tailwindcss'; */

@source '../../vendor/laravel/framework/src/Illuminate/Pagination/resources/views/*.blade.php';
@source '../../storage/framework/views/*.php';
@source '../**/*.blade.php';
@source '../**/*.js';

@theme {
    --font-sans: 'Instrument Sans', ui-sans-serif, system-ui, sans-serif, 'Apple Color Emoji', 'Segoe UI Emoji',
        'Segoe UI Symbol', 'Noto Color Emoji';
}

._image {
    width: 40px;
    height: 40px;
    border-radius: 500%;
}

main {
    padding-bottom: 100px;
}

footer {
    background: rgb(3, 3, 3);
    color: white;
    position: fixed;
    bottom: 0;
    z-index: 111;
}

.navbar {
    --bs-navbar-padding-y: 2px;
}